* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container h1{
    text-align: center;
    /* margin: 20px 100px; */
    font-size: 3rem;

}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    margin: 2rem 0;

}


.card{
    width: 350px;
    height: 350px;
    position: relative;
    /* margin-bottom: 20px; */
    border-radius: 10px;
    overflow: hidden;
    /* background-color: blue; */

}

.card img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    box-shadow: 0 0 20px #333;
    object-fit: cover;
    border-radius: 10px;
}

.card:hover{
    filter: drop-shadow(0 0 10px #333);
    transform: scale(1.03);
    transition: 0.5s;

}

.card:hover img{
    filter: grayscale(0%);

}

.card figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #d40e0e;
    opacity: 0;
    border-radius: 0 0 10px 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;

  color: blue;
    -webkit-text-stroke: 0.5px rgba(6, 6, 6, 0.808);
    font-size: 1.65rem;
  
}



h3{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    position: absolute;
    top: 300px; left: 100px;
    /* transform: translate(0rem,17rem); */
    background: #ffffff52;
    backdrop-filter: blur(1px);
    
}


.card:hover figcaption {
    opacity: 1;
    transform: scale(1.03);

}



